body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../Pictures/eddietje.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
}
form {
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px; /* Adjust this value as needed */
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    body {
        padding: 20px;
    }
    form {
        width: 100%;
        padding: 10px;
    }
    input[type="text"], input[type="password"], button {
        padding: 15px;
        font-size: 16px;
    }
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #007BFF;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#logo {
    position: absolute;
    bottom: 180px; /* Adjust this value to move the logo up or down */
}
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #007BFF;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#logo {
    position: absolute;
    bottom: 230px; /* Adjust this value to move the logo up or down */
    left: 50%;
    transform: translateX(-50%);
    width: 100px; /* Adjust this value to change the size of the logo */
    height: auto;
}

#forgot-password {
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #007BFF;
}

#forgot-password {
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #007BFF;
    transition: background-color 0.3s ease;
}

#forgot-password:hover {
    background-color: #f0f0f0;
}